h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: 8px;
}

h2 {
  font-weight: 400;
}

h3 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 8px;
}

h4 {
  font-weight: 400;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  background-image: url('/cosmic-fireball-blur.jpg');
  background-size: cover;
}

.logoContainer {
  img {
    height: 150px;
    width: 150px;
    border-radius: 24px;
  }
}

.textContainer {
  text-align: center;
  margin-bottom: 16px;

  color: var(--light-text);
}

.cta {
  margin-top: 16px;

  .appStoreLink img {
    width: 200px;
  }
}

.featureBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;

  img {
    object-fit: contain;
    height: 600px;

    &.small {
      height: 500px;
    }

    &.smaller {
      height: 400px;
    }
  }

  &:nth-of-type(odd) {
    background-color: var(--secondary-background);
  }

  @media screen and (min-width: 1394px) {
    & {
      flex-direction: row;
      justify-content: space-evenly;

      .featureDescription {
        flex-basis: 35%;
      }
    }
  }
}
