h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: 8px;
}

h2 {
  font-weight: 400;
}

h3 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 8px;
}

h4 {
  font-weight: 400;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  background-image: url('/cosmic-fireball-blur.jpg');
  background-size: cover;
}

.logoContainer {
  img {
    height: 150px;
    width: 150px;
    border-radius: 24px;
  }
}

.textContainer {
  text-align: center;
  margin-bottom: 16px;
}

.cta {
  margin-top: 16px;
}

.signUp {
  display: block;

  font-size: 1.25rem;
  transition: background-color 200ms;
  cursor: pointer;
  background-color: #268AFF;
  color: white;
  border-radius: 16px;
  padding: 16px;

  &:hover {
    background-color: #1e6ecc;
  }
}

.featureBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;

  img {
    object-fit: contain;
    height: 600px;
  }

  &:nth-of-type(odd) {
    background-color: #242424;
  }
}
