<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>
      {{ block "title" . }}
      {{ .Title }} &ndash; {{ .Site.Title }}
      {{ end }}
    </title>
    {{ $baseStyle := resources.Get "scss/base.scss" | toCSS }}
    {{ $footerStyle := resources.Get "scss/footer.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $baseStyle.Permalink }}">
    <link rel="stylesheet" href="{{ $footerStyle.Permalink }}">
    {{ block "head" . }}
    {{ end }}
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
      <footer>
        <p>This is a footer</p>
      </footer>
    {{ end }}
  </body>
</html>
