{{ $helpPage := .Site.GetPage "/help" }}
{{ $contactPage := .Site.GetPage "/contact" }}
{{ $releaseNotesPage := .Site.GetPage "/release-notes" }}
{{ $legalPage := .Site.GetPage "/legal" }}

<footer>
  <p class="links">
    <a href="{{ $helpPage.Permalink }}">Help</a>
    <a href="{{ $contactPage.Permalink }}">Contact</a>
    <a href="{{ $releaseNotesPage.Permalink }}">Release Notes</a>
    <a href="{{ $legalPage.Permalink }}">Legal</a>
  </p>
  <p class="copyright">&copy; {{ now.Format "2006" }} {{ .Site.Author.name }}</p>
</footer>
