{{ $helpPage := .Site.GetPage "/help" }}
{{ $contactPage := .Site.GetPage "/contact" }}
{{ $privacyPage := .Site.GetPage "/privacy-policy" }}
{{ $licensesPage := .Site.GetPage "/licenses" }}

<footer>
  <p class="links">
    <a href="{{ $helpPage.Permalink }}">Help</a>
    <a href="{{ $contactPage.Permalink }}">Contact</a>
    <a href="{{ $privacyPage.Permalink }}">Privacy Policy</a>
    <a href="{{ $licensesPage.Permalink }}">Licenses</a>
  </p>
  <p class="copyright">&copy; {{ now.Format "2006" }} {{ .Site.Author.name }}</p>
</footer>
